html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  background-image: url('https://raw.githubusercontent.com/lmcandido/FAQ/1b993a6f4505379c0deae0d707cad99c4614d8f6/assets/images/background-pattern-desktop.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.faq-container{
  max-width: 600px;
  margin: 0;
  padding: 20px;
}

.faq-container-header{
  display: flex;
  align-items: center;
}

.faq-container-header h2 {
  margin-left: 20px;;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}

.faq-answer{
  padding: 15px;
  background-color: #fff;
  display: none; /* Hide answer by default */
}

  
