body {
  background-color: gray;
}

.faq-container{
  max-width: 600px;
  margin: 0;
  padding: 20px;
}

.faq-item{
  margin-bottom: 5px;
  border-radius: 3px;
  overflow: hidden; /* Hide answer when collapsed */
}

.faq-question {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}

.clickable-image {
  display: inline;
  cursor: pointer;
  transition: transform 0.3s;
  margin: 0;
}

.faq-answer{
  padding: 15px;
  background-color: #fff;
  display: none; /* Hide answer by default */
}

.faq-question.active .plus-sign{
  content: "-";
  color: purple;
}

  
