body {
  background-color: gray;
}

.faq-container{
  max-width: 600px;
  margin: 0;
  padding: 20px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}

.faq-answer{
  padding: 15px;
  background-color: #fff;
  display: none; /* Hide answer by default */
}

  
