.faq-container{
    max-width: 600px;
    margin: 0;
    padding: 20px;
}

.faq-item{
    margin-bottom: 5px;
    border-radius: 3px;
    overflow: hidden; /* Hide answer when collapsed */
}

.faq-question {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.plus-sign {
    font-size: 20px;
    color: purple;
}

.faq-answer{
    padding: 15px;
    background-color: #fff;
    display: none; /* Hide answer by default */
}

.faq-question.active .plus-sign{
    content: "-";
    color: purple;
}
